<style>
  .header {
    width: 100%;
    height: 500px;
    background-image: url("images/DHacks/main_logo.jpg");
    background-size: cover;
    text-align: center;
    padding: 150px 0;
    color: red;
  }
</style>

<div class="header" style="opacity: 0.7;">
  <h1>LETS SEEK YOUR FOOD</h1>
  <h4>
    <b>
      <p>同志社生・同志社女子生から提供された料理リストからあなたの食べたいものを探して,</p>
      <p>リクエストボタンをクリックして提供者とコンタクトを取りましょう.</p>
    </b>
  </h4>
</div>
<br>
<% if user_signed_in? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_food_path,
            :class => 'btn btn-danger' %>
<% else %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            root_path,
            :class => 'btn btn-danger' %>

<% end %>


<div class="container" style="padding:20px 0">
    <!-- 投稿一覧 -->
    <% Food.all.each do |food| %>
      <div class="row" style="background:#f9f9f9; max-width: 900px; margin-bottom: 30px;">
      <div class="col-sm-3">
        <%= image_tag(food.image.url(:thumb), :width => '200', :height => '200', :style => 'margin:10px;') %>
      </div>
      <div class="col-sm-3">
        <div style="margin-top:60px;">
          <div class="form-group">
          <% if user_signed_in? %>
            <%= link_to "投稿者情報を見る", user_path(food.user_id), { :class => "btn btn-primary"} %>
          <% else %>
            <%= link_to "投稿者情報を見る", "foods#index", { :class => "btn btn-primary"} %>
          <% end %>
          </div>
        </div>
        <div style="margin-top:20px;">
          <div class="form-group">
            <input type="submit" value="リクエストを要求" class="btn btn-primary">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div style="margin-top:40px;">
          <div class="col-sm-6">

              <div align="" style="margin-top:20px;">
                <div class=" control-label" for="food">
                <h4>タイトル: <%= food.title %></h4>
                </div>
              </div>
              <div align="" style="margin-top:20px;">
                <div class=" control-label" for="place">
                  場所: <%= food.place %>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-6">
            <form>
              <div align="" style="margin-top:20px;">
                <div class=" control-label" for="up_day">
                作成日: <%= food.created_at %>
                </div>
              </div>
              <div align="" style="margin-top:20px;">
                <div class=" control-label" for="cost">
                  金額: <%= food.cost %>
                </div>
              </div>
              <div align="" style="margin-top:20px;">
                <div class=" control-label" for="day">
                  開催日: <%= food.date %>
                </div>
              </div>
              <div align="" style="margin-top:20px;">
                内容: <%= food.content %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>





      <div align="center">
        <ul class="pagination">
          <li><a href="">&laquo;</a></li>
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href=""></a></li>
          <li><a href="">5</a></li>
          <li><a href="">&raquo;</a></li>
        </ul>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

